.questionContainer {
  display: flex;
  gap: 20px;
}

.question {
  margin-bottom: 24px;
  width: 100%;
}

.header {
  font-size: 16px;
  margin: 0;
}

.textAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.orderButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
}

.typeAndRequired {
  display: flex;
  align-items: end;
}

.type {
  width: 100%;
  margin-bottom: 16px;
  flex-basis: 100%;
}
